.cell{
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black{
    background-color: rgba(59, 136, 108, 0.565);
}
.white{
    background-color: rgba(94, 218, 172, 0.565);
}

.selected{
    border-width: 3px;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.figure{
    margin: 0 auto;
    font-size: 20px;
}

.available{
    margin: 0 auto;
    border: 1px solid rgb(6, 169, 9);
    background-color: rgb(6, 169, 9);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}    