.cell{
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
}

.black{
    background-color: rgba(94, 218, 172, 0.565);
}
.white{
    background-color: white;
}

.selected{
    border-width: 3px;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.figure{
    margin: 0 auto;
    font-size: 20px;
}

.available{
    margin: 0 auto;
}